@media (max-width: 576px) {
    * {
        font-size: 14px;
    }

    .cabecalho {
        width: 100%;
    }

    .principal {
        width: 100%;
    }

    nav {
        position: relative;
        top: 40px;
        left: 340px;
    }

    .cabecalho-menu ul {
        display: flex;
        gap: 15px;
    }


    .principal-conteudo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        position: relative;
        right: 75px;
        gap: 15px;
    }

    .principal-conteudo figure img {
        max-width: 350px;
        position: relative;
        right: 40px;
    }
    
    span {
        display: none;
    }

    .section-two {
        width: 100%;
    }

    .bt-view,
    .button-view {
        display: none;
    }

    .titulo-section {
        width: 100%;
        align-items: center;
        padding-right: 50px;
    }

    .trending,
    .trending-games {
        padding-left: 50px;
    }

    .top,
    .most {
        position: relative;
        left: 0;
    }

    .cabecalho-logo img {
        position: relative;
        left: 410px;
    }

    .container-four {
        padding: 15px;
    }

    .card-four {
        max-width: 400px;
        padding: 10px;
    }

    .principal-texto {
        position: relative;
        right: 150px;
    }
    




}