@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Poppins:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --cor-primaria: #007aff;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #d63384;
    --cor-quaternaria: #dc3545;
    --preto: #000000;
    --cor-rosinha: #ee626b;

    font-family: 'Poppins', sans-serif;
}


.cabecalho {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 300px;
    width: 100%;

}

.cabecalho-menu ul {
    list-style: none;
    display: flex;
    gap: 50px;
    color: var(--cor-secundaria);
    font-size: 16px;
}

.cabecalho-menu ul li a {
    text-decoration: none;
}

.sign {
    background-color: var(--cor-rosinha);
    border: var(--cor-rosinha) solid 5px;
    width: 110px;
    border-radius: 25px;
    text-align: center;
}

.cabecalho-logo img {
    position: relative;
    left: 650px;
}

.principal {
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    padding: 225px 0px;
    background-position: center bottom;
    border-radius: 0px 0px 150px 150px;
    background-size: cover;
    /*/ cover quer dizer que ele deve ocupar o container inteiro /*/
}

.principal-conteudo {
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;
    justify-content: center;
    margin-left: 230px;
    gap: 250px;
}

.principal-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--cor-secundaria);
    margin-left: 160px;
    margin-top: 80px;
}

.principal-texto h2 {
    font-size: 45px;
}

.principal-texto p {
    display: flex;
    padding-top: 45px;
    gap: 15px;
    line-height: 30px;
}

.principal figure img {
    border-radius: 30px;
}

.desconto {
    position: relative;
    bottom: 50px;
    right: 80px;
    background-color: var(--cor-rosinha);
    border-radius: 50%;
    font-size: 30px;
    color: var(--cor-secundaria);
    font-weight: 700;
    padding: 20px;
    text-align: center;

}

.preco {
    position: relative;
    bottom: 500px;
    right: -180px;
    font-size: 25px;
    background-color: var(--cor-primaria);
    border-radius: 25px;
    color: var(--cor-secundaria);
    font-weight: 700;
    padding: 5px 15px 5px 15px;
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    position: relative;
    bottom: 100px;
  }

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px rgb(196, 196, 196);
    background-color: var(--cor-secundaria);
    padding: 40px 90px 40px 90px;
    border-radius: 20px;
    text-transform: uppercase;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.card img {
    width: 90px;
    max-width: 400px;
    padding: 1rem;
    border: var(--cor-primaria) solid 2px;
    background-color: var(--cor-primaria);
    border-radius: 50%;
}

.card img:hover {
    background-color: var(--cor-terciaria);
    border: var(--cor-terceira) solid 2px;

}

.section-two {
    padding: 30px;
}

.trending-games, .trending {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 250px;
    padding: 5px;
}

.trending-games {
    font-size: 40px;
}

.trending {
    color: var(--cor-terciaria)
}

.section-two a {
    text-decoration: none;
    background-color: var(--cor-rosinha);
    border: var(--cor-rosinha) solid 2px;
    padding: 13px 30px 13px 30px;
    border-radius: 50px;
    color: var(--cor-secundaria);
    position: relative;
    bottom: 50px;
    left: 1420px;
}

.container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 30px;
    flex-wrap: wrap;
}

.card-two {
    background-color: #dddddd70;
    padding: 0 2px 20px 2px;
    border-radius: 20px;
}

.card-two h3, p{
    margin-left: 15px;
    margin-top: 5px;
}

.container-two img {
    border-radius: 25px;
}

.container-three {
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
}

.container-three img {
    border-radius: 15px;
}

.section-three {
    background-color: #dddddd70;
    padding: 130px;
    border-radius: 150px;
}

.top, .most {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 170px;
    padding: 5px;
}

.most {
    font-size: 40px;
    padding-bottom: 50px;
}

.top {
    color: var(--cor-terciaria);
}

.bt-view {
    text-decoration: none;
    background-color: var(--cor-rosinha);
    border: var(--cor-rosinha) solid 2px;
    padding: 13px 30px 13px 30px;
    border-radius: 50px;
    color: var(--cor-secundaria);
    position: relative;
    bottom: 400px;
    left: 1300px;
}

.card-three {
    background-color: var(--cor-secundaria);
    padding-bottom: 20px;
    border-radius: 20px;
    text-align: center;
}

.bt-explore {
    text-decoration: none;
    background-color: var(--cor-rosinha);
    color: var(--cor-secundaria);
    padding: 11px;
    border-radius: 25px;
    position: relative;
    bottom: -50px;
    font-weight: 700;
}
